services:
  traefik:
    image: traefik:v2.10
    container_name: traefik
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - 80:80
     # - 8080:8080 # Optional: Expose Traefik dashboard on port 8080
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
  nmrkit-api:
    container_name: nmrkit-api
    image: nfdi4chem/nmrkit:dev-latest
    pull_policy: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web.rule=Host(`dev.nmrkit.nmrxiv.org`)"
      - "traefik.http.routers.web.entrypoints=web"
      - "traefik.http.services.web.loadbalancer.server.port=80"
    volumes:
      # - ../app:/code/app
      - "/var/run/docker.sock:/var/run/docker.sock"
      - shared-data:/shared
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-f",
          "http://localhost:80/latest/registration/health"
        ]
      interval: 1m30s
      timeout: 10s
      retries: 20
      start_period: 60s
    env_file:
      - ../.env
  nmr-converter:
    #build: ./app/scripts/nmr-cli
    container_name: nmr-converter
    image: nfdi4chem/nmr-cli:dev-latest
    entrypoint: /bin/sh
    stdin_open: true
    tty: true
  nmr-respredict:
    #build: ./app/scripts/nmr-respredict
    container_name: nmrkit-respredict
    image: nfdi4chem/nmr-respredict:dev-latest
    entrypoint: /bin/sh
    stdin_open: true
    tty: true
    volumes:
      - shared-data:/shared
volumes:
  shared-data:
networks:
  default:
    name: nmrkit_vpc
